
## Those files should be taken from their repositary

bin/*
!bin/Readme.md
opt/*
!opt/Readme.md

vendor/*/*
!vendor/bin/*
!vendor/lib/*
!vendor/*
!vendor/psmodules/*
vendor/git-for-windows

config/*
!config/Readme.md
!config/profile.d/README.md

config_user/*

Thumbs.db
*.exe
*.dll
build/
/Version *
*.bak
.github_changelog_generator
launcher/.vs
launcher/src/version.rc2
.vs/*
.vscode
.idea
