
## Those files should be taken from their repositary

vendor/*/*
!vendor/*
!vendor/psmodules/PsGet

config/.history
Thumbs.db
*.exe
*.dll
build/
Version v*
*.bak
vendor/my_sources.json
config/user-profile.ps1
config/user-startup.cmd
config/MyConEmu.xml
MyCmder.bat
