
## Those files should be taken from their repositary

bin/*/*
!bin/Readme.md
vendor/*/*
!vendor/bin/*
!vendor/lib/*
!vendor/*
!vendor/psmodules/PsGet

config/.history
Thumbs.db
*.exe
*.dll
build/
Version v*
*.bak
config/user-*
config/user_*
config/*.lua
config/settings
config/aliases
config/profile.d
.github_changelog_generator
launcher/.vs
launcher/src/version.rc2
